page {
    height: 100%;
}

.container {
    padding: 40rpx;
    font-size: 32rpx;
    background:rgba(187,160,203,0.5);
    border-radius: 16rpx;
    height: 100%;
    box-sizing: border-box;
}

.box {
    box-sizing: border-box;
    padding: 40rpx;
    width: 100%;
    border-radius: 16rpx;
    background-color: #fff;
    height: 100%;
}

.inputarea {
    height: 300rpx;
    color: rgba(187,160,203);
    border: none;
}

.choose-tag {
    display: flex;
    flex-direction: row;
    color: rgba(124,80,157);
    /* color: rgba(187,160,203); */
    align-items: center;
    border-top: solid 1rpx rgba(124,80,157);
    /* border-bottom: solid 1rpx rgba(187,160,203); */
    line-height: 90rpx;
    height:90rpx;
    /* margin-bottom: 50rpx; */
}

.choose-mood {
    display: flex;
    flex-direction: row;
    color: rgba(124,80,157);
    align-items: center;
    border-top: solid 1rpx rgba(124,80,157);
    /* border-bottom: solid 1rpx rgba(187,160,203); */
    line-height: 90rpx;
    height:90rpx;
    /* margin-bottom: 50rpx; */
}

.choose-weather {
    /* position: relative; */
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgba(124,80,157);
    border-top: solid 1rpx rgba(124,80,157);
    border-bottom: solid 1rpx rgba(124,80,157);
    line-height: 90rpx;
    height:90rpx;
    margin-bottom: 50rpx;
}

.select {

    flex: 1;
}

.right-icon {
    position: absolute;
    right: 32rpx;
    height: 50rpx;
    width: 50rpx;
}

.select-icon {
    position: absolute;
    right: 105rpx;
    height: 50rpx;
    width: 50rpx;
}

.select-text {
    position: absolute;
    right: 120rpx;
    color: rgba(187,160,203);
}

.smt-card-area {
    margin: 25.362rpx 0 72.464rpx;
    background: #fff;
}

.submit-button {
    font-weight: 500;
    /* color: #7C509D; */
    color: rgba(124,80,157);
    letter-spacing: 0;
    font-size: 32rpx;
    border-radius: 16rpx;
    text-align: center;
    line-height: 60rpx;
    height: 60rpx;
}

.submit-button::after {
    /* border: none; */
    border: solid rgba(124,80,157);
}