page {
    height: 100%;
}

.container {
    position: relative;
    padding: 40rpx;
    font-size: 32rpx;
    background:rgba(187,160,203,0.5);
    border-radius: 16rpx;
    height: 100%;
    box-sizing: border-box;
}

.content {
    box-sizing: border-box;
    padding: 20rpx;
    border-radius: 16rpx;
    background-color: #fff;
    height: 100%;
}

.add {
    position: absolute;
    bottom: 160rpx;
    right: 80rpx;
    color: rgba(124,80,157);
}

.add-image {
    height:60rpx;
    width:60rpx;
}

.info {
    display: flex;
    flex-direction: row;
    margin-bottom: 20rpx;
    align-items: center;
}

.image {
    height: 100rpx;
    width: 100rpx;
    border-radius: 50%;
    border: solid 2rpx rgba(124,80,157);
}

.subtitle {
    display: flex;
    flex-direction: column;
    margin-left: 36rpx;
}

.name {
    font-size: 36rpx;
    font-weight: bold;

}

.tablebox {
    color: rgba(187,160,203);
    padding: 20rpx;
    border-radius: 16rpx;
    border: solid  1rpx rgba(187,160,203);
    background-color: rgba(249,246,207,0.3);
    margin-bottom: 20rpx;
}

.content-title {
    display: flex;
    flex-direction: row;
    /* justify-content:  space-between; */
    margin-bottom: 20rpx;
}

.mood {
    display:flex;
    height:32rpx;
    font-size: 32rpx;
    line-height: 32rpx;
}

.img-mood {
    margin: auto 0;
    height: 32rpx;
    width: 32rpx;
}

.weather {
    margin-left: 32rpx;
    display:flex;
    height:32rpx;
    font-size: 32rpx;
    line-height: 32rpx;
}

.img-weather {
    margin: auto 0;
    height: 32rpx;
    width: 32rpx;
}

.content-box {
    margin-bottom: 20rpx;
}

.tag-text {
    height: 32rpx;
    line-height: 32rpx;
    position: absolute;
    left: 10rpx;
    font-size: 28rpx;
}

.icon-table {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 32rpx;
}

.img-icon {
    margin-left: 20rpx;
    height: 32rpx;
    width: 32rpx;
}